
html, body {
height: 100%;
width: 100%;
font-family: sans-serif;
color: #FFF;
background-color: lightgray;
}
#footer{
    padding-top: 30px;
background-color: green;
}
#bottomfooter{
    background-color: darkgreen;
}